* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    background-image: url('BD_IMG.jpj.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
  }
  
  .menu_bar {
    background-color: whitesmoke;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
  }
  
  .logo {
    margin-left: -50px;
    color: black;
    font-size: 50px;
  }
  
  .logo span {
    color: blue;
  }
  
  .menu_bar ul {
    list-style: none;
    display: flex;
  }
  
  .menu_bar ul li {
    padding: 10px 30px;
    position: relative;
  }
  
  .menu_bar ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s;
  }
  
  .menu_bar ul li a:hover {
    color: blue;
  }
  
  .inpt {
    margin-bottom: 20px;
    background-color:transparent;
    padding: 20px;
    border-radius: 3px;
  }
  
  .inpt label {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 20%;
  }
  
  .inptbox {
    width: 40%;
    padding: 8px;
    background-color: transparent;
    color: white;
    border: 1px solid #ffffff;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  .tt {
    color: white;
  }
  
  table {
    margin-top: 50px;
    position: relative;
    margin-left: 21%;
    width: 60%;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(64, 64, 64, 0.7);
    overflow: hidden;
  }
  
  td,
  th {
    padding: 15px 20px;
    text-align: center;
  }
  
  th {
    background-color: #b253c0;
    color: #fafafa;
    font-family: 'Open Sans', Sans-serif;
    font-weight: 200;
    text-transform: uppercase;
  }
  
  tr {
    width: 100%;
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
  }
  
  tr:nth-child(even) {
    background-color: #eeeeee;
  }
  
  .bt {
    margin-left: 4.5%;
    background-color: #00ff08;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 2px;
  }
  
  .bt:hover {
    background-color: #008307;
  }
  
  .res1,
  .res2 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    display: inline-block;
    vertical-align: middle;
  }
  
  .res1 {
    margin-left: 21%;
    color: #ff0095;
    margin-right: 10px;
  }
  
  .res2 {
    margin-left: 408px;
    color: #0077ff;
  }
  
  .w {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    color: whitesmoke;
    font-size: 30px;
  }
  
  .p {
    color: white;
  }
  
  #process-details {
    margin-top: 15px;
    margin-left: 20%;
    color: white;
  }
  
  #process-count {
    color: white;
  }
  

  
  #process-details > div {
    margin-right: 20px;
  }